<strong>Olá, {{ student }}, tudo bem?</strong>
<p>Sua pegunta foi respondida :)</p>

<hr>

<p><strong>{{ question }}</strong></p>
<p><strong>Resposta: </strong> {{ answer }}</p>
<p><strong>Data: </strong> {{ answerAt }}</p>
